// Colores:
$negro_claro_1: #242424 ;
$negro_claro_2: #404040 ;
$blanco: #FFFFFF;
$humo: #E7E5E5;
$vino: rgb(136, 20, 51);
$rojo: #c00b1e;
$amarillo: 	#f9cf0a;

// variables que no me estan funcionando como scss:
:root{
    --rojo: #881433;
}
.nana{
    height: 300px;
    background-color: blue;
}
.nene{
    height: 300px;
    background-color: red;
}
.nini{
    height: 300px;
    background-color:green;
}
.nono{
    height: 300px;
    background-color: wheat;
}
.nunu{height: 300px;
    background-color: chartreuse;
}