
.img_pelicula-general{
    width: 100%;
}
.pelicula_general_p{
    aspect-ratio: 4/7.5;
    

    .img_pelicula-general{
        aspect-ratio: 7/10;
        

        overflow: hidden;
    }
    
    .nombre_p_particular {
        color: $humo;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        body.modo_claro &{
            color: $negro_claro_2
        }
    }
    
}
.foto_caratula_peli{
    position: relative;
}
.bxs-star{
    color: $amarillo;

    position: absolute;
    right: 0;
    bottom: 0px;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
}

// botones de corazon

.boton_agregar{
    background-color: transparent;
    border: none;
}

    // sin pintar
    .bx-heart{
        cursor: pointer;
        font-size: 23px;
        color: $rojo;
        button.estado_guardado &{
            display: none;
        }
        
    }
    // pintado
    .corazon_pintado{
        cursor: pointer;
        font-size: 23px;
        color: $rojo;
        display: none;
        
        button.estado_guardado &{
            display: block;
        }
        
    }
    .corazon{
        font-size: 23px;
        color: $rojo;
    }
    .boton_favoritos{
        background-color: #4CAF50; /* Green */
        border-radius: 10px;
        border: none;
        color: $humo;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px        
    }
    .boton_favoritos:hover {
        // generado por web:
        box-shadow: 0 3px 16px 0 $humo, 0 10px 10px 0 rgba(0,0,0,0.19);

        body.modo_claro &{
            // generado por web:
        box-shadow: 0 3px 16px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
        }

    }
    

