
.fondo{
    height: 100vw;
    min-height: 460px;
    max-height: 500px;
    
    overflow: hidden;
    
    // Generado por BGjar:
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='500' preserveAspectRatio='none' viewBox='0 0 1400 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3cpath d='M932.425%2c477.206C985.8%2c474.243%2c1024.604%2c431.131%2c1049.22%2c383.679C1071.639%2c340.462%2c1076.783%2c289.109%2c1051.626%2c247.426C1027.213%2c206.976%2c979.652%2c191.5%2c932.425%2c190.162C882.161%2c188.738%2c829.234%2c198.768%2c800.918%2c240.321C769.125%2c286.977%2c763.374%2c348.664%2c790.778%2c398.027C818.918%2c448.715%2c874.539%2c480.42%2c932.425%2c477.206' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M914.277%2c160.829C932.232%2c162.19%2c950.939%2c156.123%2c960.574%2c140.911C970.824%2c124.727%2c971.205%2c103.409%2c960.855%2c87.289C951.182%2c72.224%2c932.16%2c67.956%2c914.277%2c68.802C898.036%2c69.57%2c882.47%2c77.051%2c874.751%2c91.361C867.368%2c105.048%2c871.035%2c121.191%2c878.725%2c134.707C886.52%2c148.407%2c898.56%2c159.638%2c914.277%2c160.829' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1081.629%2c278.246C1102.485%2c277.233%2c1121.865%2c268.095%2c1133.046%2c250.46C1145.128%2c231.402%2c1149.555%2c207.59%2c1139.103%2c187.591C1127.923%2c166.198%2c1105.765%2c152.416%2c1081.629%2c152.074C1056.906%2c151.724%2c1033.765%2c164.591%2c1021.263%2c185.922C1008.618%2c207.495%2c1007.084%2c234.983%2c1020.768%2c255.912C1033.443%2c275.297%2c1058.495%2c279.369%2c1081.629%2c278.246' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M69.039%2c152.423C92.966%2c151.798%2c116.694%2c143.018%2c128.962%2c122.466C141.515%2c101.437%2c139.891%2c75.241%2c127.835%2c53.923C115.578%2c32.25%2c93.937%2c16.318%2c69.039%2c16.502C44.418%2c16.684%2c24.408%2c33.674%2c11.732%2c54.783C-1.408%2c76.665%2c-9.48%2c103.729%2c3.44%2c125.742C16.246%2c147.561%2c43.748%2c153.083%2c69.039%2c152.423' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M378.829%2c401.059C398.125%2c400.936%2c417.594%2c395.014%2c428.032%2c378.785C439.319%2c361.236%2c442.074%2c337.921%2c430.679%2c320.442C420.025%2c304.099%2c398.283%2c301.85%2c378.829%2c303.311C362.233%2c304.557%2c348.091%2c313.448%2c338.914%2c327.332C328.452%2c343.162%2c319.494%2c362.733%2c328.528%2c379.419C337.842%2c396.623%2c359.265%2c401.184%2c378.829%2c401.059' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M121.654%2c455.595C154.629%2c456.081%2c193.049%2c456.632%2c209.815%2c428.233C226.732%2c399.579%2c208.179%2c365.799%2c191.751%2c336.862C175.018%2c307.387%2c155.502%2c274.681%2c121.654%2c272.939C85.689%2c271.089%2c55.157%2c297.366%2c37.841%2c328.943C21.22%2c359.252%2c18.805%2c396.872%2c37.881%2c425.699C55.418%2c452.2%2c89.879%2c455.127%2c121.654%2c455.595' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M741.329%2c345.111C787.115%2c345.374%2c828.546%2c318.384%2c850.708%2c278.318C872.181%2c239.497%2c867.485%2c193.514%2c846.928%2c154.2C824.48%2c111.27%2c789.7%2c71.821%2c741.329%2c69.138C688.909%2c66.23%2c637.343%2c94.577%2c613.281%2c141.239C590.78%2c184.875%2c607.991%2c235.498%2c634.104%2c277.074C658.235%2c315.493%2c695.961%2c344.85%2c741.329%2c345.111' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M143.704%2c387.102C186.711%2c385.033%2c213.165%2c344.999%2c234.067%2c307.356C254.141%2c271.205%2c271.588%2c229.091%2c251.518%2c192.938C231.028%2c156.029%2c185.919%2c144.572%2c143.704%2c144.584C101.515%2c144.596%2c58.228%2c157.144%2c35.998%2c193.001C12.685%2c230.606%2c15.444%2c278.153%2c36.912%2c316.841C59.071%2c356.775%2c98.087%2c389.297%2c143.704%2c387.102' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M523.847%2c307.81C563.081%2c304.625%2c596.134%2c280.841%2c615.403%2c246.517C634.229%2c212.981%2c635.146%2c173.664%2c618.657%2c138.919C599.12%2c97.751%2c569.271%2c57.223%2c523.847%2c53.595C473.134%2c49.545%2c424.058%2c77.299%2c398.598%2c121.344C373.117%2c165.426%2c373.943%2c221.546%2c402.334%2c263.813C428.078%2c302.139%2c477.828%2c311.546%2c523.847%2c307.81' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1178.667%2c14.434C1191.066%2c13.658%2c1200.334%2c4.69%2c1206.912%2c-5.849C1214.037%2c-17.265%2c1220.887%2c-30.996%2c1214.369%2c-42.769C1207.727%2c-54.767%2c1192.379%2c-57.108%2c1178.667%2c-56.872C1165.469%2c-56.644%2c1152.139%2c-52.699%2c1145.035%2c-41.574C1137.398%2c-29.614%2c1136.249%2c-14.049%2c1143.554%2c-1.884C1150.675%2c9.975%2c1164.861%2c15.298%2c1178.667%2c14.434' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1304.442%2c115.209C1323.908%2c115.691%2c1341.058%2c103.996%2c1351.358%2c87.471C1362.37%2c69.804%2c1367.999%2c47.725%2c1357.83%2c29.56C1347.475%2c11.062%2c1325.558%2c1.789%2c1304.442%2c3.663C1285.961%2c5.303%2c1273.942%2c21.365%2c1265.282%2c37.774C1257.34%2c52.822%2c1253.707%2c70.058%2c1261.386%2c85.242C1269.844%2c101.966%2c1285.707%2c114.745%2c1304.442%2c115.209' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1139.936%2c352.238C1161.881%2c351.767%2c1180.442%2c337.658%2c1191.356%2c318.613C1202.201%2c299.687%2c1204.003%2c277.085%2c1194.157%2c257.621C1183.228%2c236.015%2c1164.149%2c217.114%2c1139.936%2c216.96C1115.523%2c216.805%2c1095.988%2c235.378%2c1084.507%2c256.923C1073.756%2c277.096%2c1073.05%2c301.147%2c1084.541%2c320.908C1095.971%2c340.563%2c1117.204%2c352.726%2c1139.936%2c352.238' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1208.162%2c117.485C1220.243%2c117.02%2c1228.858%2c107.569%2c1235.4%2c97.402C1242.762%2c85.961%2c1251.017%2c72.623%2c1244.828%2c60.507C1238.298%2c47.724%2c1222.505%2c43.519%2c1208.162%2c44.081C1194.853%2c44.602%2c1182.665%2c51.577%2c1176.156%2c63.197C1169.79%2c74.561%2c1170.42%2c88.425%2c1177.036%2c99.646C1183.545%2c110.687%2c1195.354%2c117.978%2c1208.162%2c117.485' fill='rgba(175%2c 13%2c 49%2c 0.49)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1400' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 3s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 3s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    
}
.sec_1{
    height: 50px;
}


.sec_2{
    height: 325px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.logo_texto{
    position: absolute;
    top: 100px;
    color: $humo;
    font-size: 55px;

    body.modo_claro &{
        color: $negro_claro_1;
    }
}


button.switch{
    cursor: pointer;

    top: 70px;
    

    background: $humo;
    border-radius: 20px;
    border: none;

    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center; 

    outline: none;

    &::after{
        content: "";
        height: 33px;
        width: 33px;
        display: block;

        position: absolute;
        top: -1px;
        right: -3px;
        left: unset;


        border-radius: 150px;
        background: #e0e0e0;
        box-shadow: inset -7px -7px 20px #929292,
        inset 7px 7px 20px #ffffff;
    }
    &.activo{
        background: $negro_claro_2;
        
        .bx{
            color: $humo;
        }

        &::after{
            right: unset;
            left: -3px; 
        }

    }

    .bx{
        font-size: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: $negro_claro_2;
    }
    
}

.seccion_busqueda{
    position: relative;
}

.buscar_input{
    font-size: 18px;
    color: $humo;
    width: 100%; 
    padding-left: 40px;
   
    height: 45px;    

    font-family: 'Josefin Sans', sans-serif;

    //generado po Hype4:
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
   
    
     
     
}

input::placeholder{
    font-size: 17px;
    color: $humo;  
}




.bx-search{
    position: absolute;
    top:10px;
    left: 18px;

    font-size: 30px;
    color: white;

    body.modo_claro &{
        color: $negro_claro_2
    }
}

// .sec_4{
//     height: 80px;
// }
