// Por Bootstrap:

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


@media(max-width: 420px){
    .fondo{
        
        min-height: 300px;
        max-height: 400px;
        background-repeat: no-repeat;
        background-position: 0px -120px ;
    }
    
    .sec_1{
        height: 20px;
    }
    .sec_2{
        height: 275px;
        position: relative;
    }
    .sec_4{
        height: 30px;
    }

}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
    // bootstrap
    div.carousel-item{
        max-height: 450px;
        position: relative;
    }
   
    

}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

   

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}


