*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Josefin Sans', sans-serif;
}

main{    
    min-height: 100vh;
    background-color: #242424; 
    body.modo_claro &{
        background-color: #E7E5E5;
    }
}
.desaparecer{
    display: none;
}


