
//--------------------
// peliculas api:
//--------------------

.seccion_peliculas_api{
    min-height: 300px;
    
}

.seccion_busqueda{
    position: relative;
}

.bx-search{
    font-size: 30px;
    color: white;
    position: absolute;
    top:10px;
    left: 18px;
}