
//--------------------
// peliculas api:
//--------------------




.carousel-caption{
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    

    h5{
        font-size: 22px;
       
    }
 
}

// OWL carrusel

.texto{
    // global
    color: $humo;
    font-size: 17px;
    body.modo_claro &{
        color: $negro_claro_1;
    }
    
}
.caja-titulo-carrusel{
    position: relative;
    height: 30px;
    top:5px;
}
        div.owl-dots{
            display: none;
        }
        div.owl-nav{
            display: none;
        }





.linea{
 
    border-top: 1px solid $humo;
    height: 1px;
    max-width: 100%;
    padding: 10px;
    margin: 20px auto 0 auto;
    
}